.container {
  width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.title {
  font-size: 30px;
<<<<<<< HEAD
<<<<<<< HEAD
  padding: 45px 0px;
}

=======
  font-weight: 600;
  padding: 45px 0px;
}
>>>>>>> be13743 (feat(postlist): 정기점검 목록 페이지에 검색바 통합 및 스타일·페이징 로직 보강)
=======
  padding: 45px 0px;
}

>>>>>>> 6ee4712 (정기점검 모듈: 검색 기능, 동적 라우팅, 상세/목록/등록 페이지 구현)
.table {
  width: 100%;
  border-collapse: separate;
  margin-top: 30px;
  border-spacing: 0;
}

.table td,
.table th {
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
  height: 50px;
}

.table th:first-child {
  border-top-left-radius: 15px;
  border-left: none;
}

.table th:last-child {
  border-top-right-radius: 15px;
  border-right: none;
}

.table tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.table th {
  background: #d9d9d9;
  text-align: center;
}

.statusbtn {
  color: #727272;
  text-decoration: underline;
}

.table th:nth-child(1) {
  width: 13%;
}
.table th:nth-child(2) {
  width: 18%;
}
.table th:nth-child(3) {
  width: 18%;
}
.table th:nth-child(4) {
  width: 13%;
}
.table th:nth-child(5) {
  width: 13%;
}
.table th:nth-child(6) {
  width: 10%;
}

.table th:nth-child(7) {
  width: 10%;
}

.pagination {
  margin-top: 40px;
}
