.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.title {
  font-size: 30px;
  padding: 45px 0px;
}

.table {
  width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
  border-collapse: separate;
=======
  border-collapse: collapse;
>>>>>>> 6ee4712 (정기점검 모듈: 검색 기능, 동적 라우팅, 상세/목록/등록 페이지 구현)
=======
  border-collapse: separate;
>>>>>>> db7d18f (feat: 이슈 목록 컴포넌트 UI/UX 개선)
  margin-top: 30px;
  border-spacing: 0;
}

.table td,
.table th {
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
  height: 50px;
}

.table th:first-child {
  border-top-left-radius: 15px;
  border-left: none;
}

.table tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.thead th:last-child {
  border-top-right-radius: 15px;
  border-right: none;
}

.table th {
  background: #d9d9d9;
  text-align: center;
}
.table th:nth-child(2) {
  width: 30%;
}

.pagination {
  margin-top: 40px;
}
