.container {
  width: 687px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: beige;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.filter {
  flex: 0 0 95.67px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  border-radius: 15px;
  box-sizing: content-box;
  text-align: center;
  font-weight: 600;
}

.input {
  flex: 1 1 auto;
  width: auto;
  height: 100%;
<<<<<<< HEAD
  padding-left: 10px;
=======
  /* margin-left: 10px; */
>>>>>>> 3ff7182b0e64e2acba8a51f308c97b0c75b57164
}

.btn {
  width: 42px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}
