@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 달력 */
.fc-day-sun a {
  color: red;
}

.fc-day-sat a {
  color: blue;
}

.fc {
  border-radius: 20px;
  overflow: hidden;
}

.fc .fc-toolbar.fc-header-toolbar {
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  background-color: #0976ea;
  margin-bottom: 0px !important;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc .fc-button.fc-dateTitle-button {
  background: none;
  border: none;
  font-size: 24px;
<<<<<<< HEAD
<<<<<<< HEAD
  font-weight: 600;
=======
>>>>>>> d6f1b60 (feat: 달력 컴포넌트 이벤트 스크롤 & CSS 추가)
=======
  font-weight: 600;
>>>>>>> 7985a1f (feat: 메인페이지 CSS 일부 개선)
}

.fc .fc-button.fc-prev-button,
.fc .fc-button.fc-next-button {
  background-color: #0976ea;
  border: none;
  font-size: 20px;
}

.fc .fc-daygrid-day-frame {
  height: 150px;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
<<<<<<< HEAD
  text-align: center;
=======
>>>>>>> d6f1b60 (feat: 달력 컴포넌트 이벤트 스크롤 & CSS 추가)
=======
  text-align: center;
>>>>>>> 7985a1f (feat: 메인페이지 CSS 일부 개선)
}
